@{
    Layout = "/Shared/_layout.cshtml";
    Page.Title = "LessThanDot - Site Outage";
}

<p>Due to our server being MIA at the moment, all current links are unavailable.</p>

Read more <a href="/">here</a>.