@{
    Layout = "/Shared/_layout.cshtml";
    Page.Title = "LessThanDot - Site Outage";
}

<div style="text-align: center; font-size:  130%; padding-top:  4em;">
    <p>Our server is currently unavailable. Apparently sitting in a truck on a highway somewhere.</p>
    <p>Yeah, we were just as surprised. Read more <a href="/">here</a>.</p>
    <p style="font-size: 80%">No really, a <u>truck</u>. Hope he has GPS.</p>
</div>