@{
    Layout = "/Shared/_layout.cshtml";
    Page.Title = "LessThanDot - Site Outage";
}

<div class="bp">
    <div class="cnt"><div class="n rotate">8</div><div class="l">comments</div></div>
    <div class="ttl">
    <h1><a href="/SiteOutage">LessThanDot Site Outage - Server MIA</a></h1>
    <div class="byl"> by <a href="#" title="tarwn on twitter">Eli Weinstock-Herman (@@tarwn)</a> on 2013-08-24</div>
    </div>
    <div class="tagl">
        <a href="http://twitter.com/share" data-url="/SiteOutage" data-text="RT @@LessThanDot Our site is currently down due to an unplanned migration (ie, our server is on a truck somewhere), Read More." class="twitter-share-button">Tweet</a>
       	<div class="socbtn"><g:plusone size="medium" href="/SiteOutage" class="socbtn"></g:plusone></div>
    </div>

    <div class="intro">
        <p> Late Thursday night (my time), the twitter messages started flowing because LTD'ers couldn't get to the site. </p>
        <h2>DDOS?</h2> 
        Our host, <a href="http://host4geeks.com"></a> responded X hours into the
        incident to let us know a DDOS was occurring against the facility our server was in (which would not be covered by the <a href="https://host4geeks.com/tos/">SLA</a>). I added the site monitoring
        I had always intended to add but never got around to (Thank you <a href="">pingdom</a> for a slick and easy setup process).
        </p>
        <div style="text-align:  center; color:  #666666;">
            <a href="http://stats.pingdom.com/0nt3y09cs5iy/935183"><img src="https://share.pingdom.com/banners/4931d952" alt="Uptime Report for http://lessthandot.com: Last 30 days" title="Uptime Report for http://lessthandot.com: Last 30 days" width="300" height="165" style="max-width:  300px" /></a><br/>
            Click image for the full status page
        </div>
        <p>The stats will look funky since I only set this up the other night, about an hour or two into the outage.</p>
        <h2>Where's the Server?</h2>
        <p>
        Late Friday afternoon we received an update from Host4Geeks. Apparently they use a provider that was planning on move facilities. The provider had rescheduled a couple times
        and then apparently Thursday night decided to just load up the remaining servers on a truck and take them to a third facility. or something. From what I can tell this doesn't
        fall under natural disasters, DDOS attacks, or planned maintenance, so we'll also be working on getting crdits for the service outage.
        </p>
        <p>
        So where is our server? I'm not entirely sure and we have not been given an ETA on when we can expect to be back online. Obviously this sucks for you because you were probably
        trying to get to some very useful content, and it sucks for us because wed like to write some more really useful content. In the meantime, we'll be working on some more content
        for everyone, considering our hosting options, and we'll update this page as we have more information.
        </p>
    </div>
</div>