@{
    Layout = "/Shared/_layout.cshtml";
    Page.Title = "LessThanDot - Site Outage";
}

<div class="bp">
    <div class="cnt"><div class="n rotate">8</div><div class="l">comments</div></div>
    <div class="ttl">
    <h1><a href="/SiteOutage">LessThanDot Site Outage - Server MIA</a></h1>
    <div class="byl"> by <a href="#" title="tarwn on twitter">Eli Weinstock-Herman (@@tarwn)</a> on 2013-08-24</div>
    </div>
    <div class="tagl">
        <a href="http://twitter.com/share" data-url="/SiteOutage" data-text="RT @@LessThanDot Our site is currently down due to an unplanned migration (ie, our server is on a truck somewhere), Read More." class="twitter-share-button">Tweet</a>
       	<div class="socbtn"><g:plusone size="medium" href="/SiteOutage" class="socbtn"></g:plusone></div>
    </div>
    <div style="text-align: center; padding: .5em; margin: 1em auto; max-width:  500px; background-color: #f3f471">Updated below, 2013-08-27 9:45PM EDT (28th 1:45AM UTC)</div>
    <div class="intro">
        <p> Thursday evening (my time), twitter messages started flowing in from LTD'ers who couldn't access the site. </p>
        <div style="text-align:  center; color:  #666666;">
            <img src="images/tweets.png" alt="Twitter: Who ate our server?" title="Twitter: Who ate our server?" style="max-width: 600px;" /><br/>
            Indeed.
        </div>
        <h2>DDOS?</h2> 
        Our host, <a href="http://host4geeks.com">host4geek</a> responded 4-5 hours into the incident to let us know a DDOS was occurring against the facility our server 
        was in (which would not be covered by the <a href="https://host4geeks.com/tos/">SLA</a>). I added the site monitoring I had always intended to add but 
        never got around to. That way I'd get an alert when it came back up (or a measurement if it did not). 
        </p>
        <div style="text-align:  center; color:  #666666;">
            <a href="http://stats.pingdom.com/0nt3y09cs5iy/935183"><img src="https://share.pingdom.com/banners/4931d952" alt="Uptime Report for http://lessthandot.com: Last 30 days" title="Uptime Report for http://lessthandot.com: Last 30 days" width="300" height="165" style="max-width:  300px" /></a><br/>
            Click image for the full status page
        </div>
        <p>Thank you <a href="http://pingdom.com">pingdom</a> for a slick and easy setup process. The stats will look funky since I set this up an 
            hour or two into the outage, so there's no successful uptime recorded earlier in the month.</p>
        <h2>Where's the Server?</h2>
        <p>
        Late Friday afternoon we received an update from Host4Geeks. Apparently they have a provider for the facitility and that provider had been planning a facility move. The provider 
        had scheduled server migrations and then apparently Thursday night decided to just load up the remaining servers on a truck and take them to a third facility. or something. From 
        what I can tell this doesn't fall under natural disasters, DDOS attacks, or planned maintenance, so we'll also be working on getting credits for the service outage.
        </p>
        <h2>So...ETA?</h2>
        <p>
        So where is our server? I'm not entirely sure. We have not been given an ETA on when we can expect to be back online. Obviously this sucks for you, because you were probably
        trying to get to some very useful content. It sucks for us because we'd like to write some more really useful content. In the meantime, we'll be working on some more content
        for everyone, considering our hosting options, and we'll update this page as we have more information.
        </p>
        <h2>Updated, Server Still MIA, 2013-08-27 9:45PM EDT (28th 1:45AM UTC)</h2>
        <p>
        Good news, our host updated us to let us know they recovered some of their servers! But not ours. So yeah... We have now been down for over 120 hours. We wil be back, it's 
        just a question of whether they find our server before they have to offer us free hosting for life or not. We've also been discussing better disaster recovery plans (it's
        a good thing none of us do that for a living, oh wait...), so on a positive note once we get through this outage we'll be in a better place. And come one, how often can you 
        tell people your server is down because it's physically been migratedt to the back of a truck in some dark parking lot somewhere...
        </p>
    </div>
</div>