<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors errorMode="Custom">
            <remove statusCode="404" />
             <error statusCode="404" responseMode="Redirect" path="~/404.cshtml" />
        </httpErrors>     
        <defaultDocument>
            <files>
                <add value="SiteOutage.cshtml" />
                <add value="404.cshtml" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
